*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
}

body {
    font-family: "Segoe UI";
    background-color: #A2AAAD;
}

.input{

    text-align: center;
    margin: 100px;
}
input[type="text"]{
    
    height:50px;
    width:600px;
    background:#e7e7e7;
    font-family: "Nunito, sans-serif";
    font-weight:bold;
    font-size:20px;
    border:none;
    border-radius: 2px;
    padding: 10px 10px;
}

input[type="submit"]{

    height:50;
    width:100px;
    background:#e7e7e7;
    font-family: "Nunito, sans-serif";
    font-weight:bold;
    font-size:20px;
    border:none;
    border-radius: 2px;
    top: 100px;
}

.display{
    text-align: center;
}

.describeData{
    font-size: 20px;
    position:relative;
    text-align: center;
    right:145px;
    bottom:65px;
 }
   
parent{
    position: relative;
}

 #logo{ 
    position:absolute;
    left: 370px; 
   max-width: 100%;
   height: auto;
 }
 